APP_ENV=local
LOG_LEVEL=info

HTTP_HOST=0.0.0.0
HTTP_PORT=8080

WS_PATH=/ws

JWT_SECRET=local-dev-secret-change-me

NATS_URL=nats://127.0.0.1:4222
NATS_USER=
NATS_PASSWORD=
REGISTRATION_SAGA_ADDRESS=127.0.0.1:9090
AUTH_SERVICE_ADDRESS=127.0.0.1:9091
GIG_SERVICE_ADDRESS=127.0.0.1:9093
